:root {
    --bg-color: #151515;
    --bg-color2: #212b25;
    --text-color: #ccc;
    --link-color: #27c2e6;
    --heading-color: #4bbb4b;
    --shadow-color: #4bbb9b30;
    --border-color: #0c6f52;
    --text-color-muted: #aaa;
    --wip-bg-color: #9d2424;

    --code-bg-color: #444;
    --code-color: white;
}

html {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big-logo {
    height: 100%;
    width: 100%;
}

.home-page .content-wrap {
    position: relative;
    display: grid;
    padding: 1em;
    max-width: 960px;
    margin: auto;
    padding-top: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo main"
        "footer footer";
}

.content-page .content-wrap {
    position: relative;
    padding: 1em;
    max-width: 960px;
    margin: auto;
    padding-top: 2em;
}

@media(max-width: 800px) {
    .home-page .content-wrap {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "main"
            "footer";
    }
    .big-logo-aside {
        margin-bottom: 2em;
    }
}

.big-logo-aside {
    grid-area: logo;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer > * {
    margin-right: 2em;
}

a {
    border-bottom: 2px solid var(--link-color);
    background-color: #0000;
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: var(--link-color);
}

main {
    line-height: 1.5em;
    padding: 1em;
    background-color: color-mix(in srgb, var(--bg-color), transparent 20%);
    box-shadow: 0 0 20px 10px color-mix(in srgb, var(--bg-color), transparent 20%);
}

.home-page main {
    grid-area: main;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

li {
    margin-left: 1em;
}

li::before {
  content: "* ";
  color: var(--heading-color);
}

.list-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-group__title {
    color: var(--text-color-muted);
}

.wip {
    transform: scale(0.7) translate(0, -0.5em);
    position: relative;
    display: inline-block;
    background-color: var(--wip-bg-color);
    padding: 0.1em;
    border-radius: 0.4em;
    font-weight: bold;
}

p {
    margin-top: 1em;
}

html, body {
    padding: 0;
}

.background {
    position: fixed;
    z-index: -1;
    width: 200vw;
    height: 200vh;
    transform: translate(-100vw, -100vh) rotate(20deg) translate(100vw, 0);
    background-repeat: repeat;
    background-size: 100px;
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 30">\
            <rect x="-10" y="-10" fill="%23151515" width="200" height="100"></rect>\
            <text x="0" y="20" fill="%23212b25">truffle islisp</text></svg>');
}

.testimonials {
    position: fixed;
    top: calc(100vh - 2em);
    left: 1em;
    color: var(--text-color-muted);
    font-style: italic;
}

@media(max-width: 800px) or (max-height: 800px) {
    .testimonials {
        display: none;
    }
}

nav {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.nav-list {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 2px var(--heading-color);
    border-top: none;
    background-color: var(--bg-color);
    display: flex;
}

.nav-list__item::before {
    content: none;
}

/* asiidoctor concerns */

li > p {
    display: inline;
}

code {
    font-family: monospace;
    line-height: 14px;
    font-size: 12px;
    color: var(--code-color);
    background: var(--code-bg-color);
    display: inline-block;
    padding: 0.5em;
    border-radius: 4px;
}

.sect2 {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--heading-color);
}
